<div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-users"></i> Customers</h3>
                <h6><a href="#/">Dashboard</a> | <a href="#/customers/list">Customers</a> | Customer details</h6>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-users fa-fw"></i> Customer details
                        <div class="pull-right">
                            
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-4 form-group">
                                <label class="control-label">Customer name</label> 
                                <input type="text" class="form-control" ng-model="cdc.Customer.data.custName" readonly>                                    
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label">Address</label> 
                                <input type="text" class="form-control" ng-model="cdc.Customer.data.custAddr1" readonly>                                    
                            </div>     
                            <div class="col-lg-4 form-group">
                                <label class="control-label">Street</label> 
                                <input type="text" class="form-control" ng-model="cdc.Customer.data.custAddr2" readonly>                                    
                            </div>                       
                        </div>
                        <div class="row">
                                <div class="col-lg-4 form-group">
                                    <label class="control-label">Landmark</label> 
                                    <input type="text" class="form-control" ng-model="cdc.Customer.data.custLandmark" readonly>                                    
                                </div>
                                <div class="col-lg-4 form-group">
                                    <label class="control-label">Area</label> 
                                    <input type="text" class="form-control" ng-model="cdc.Customer.data.custArea" readonly>                                    
                                </div>     
                                <div class="col-lg-4 form-group">
                                    <label class="control-label">City</label> 
                                    <input type="text" class="form-control" ng-model="cdc.Customer.data.custCity" readonly>                                    
                                </div>                       
                        </div>     
                        <div class="row">
                                <div class="col-lg-4 form-group">
                                    <label class="control-label">Pincode</label> 
                                    <input type="text" class="form-control" ng-model="cdc.Customer.data.custPincode" readonly>                                    
                                </div>
                                <div class="col-lg-4 form-group">
                                    <label class="control-label">State</label> 
                                    <input type="text" class="form-control" ng-model="cdc.Customer.data.custState" readonly>                                    
                                </div>     
                                <div class="col-lg-4 form-group">
                                    <label class="control-label">Country</label> 
                                    <input type="text" class="form-control" ng-model="cdc.Customer.data.custCountry" readonly>                                    
                                </div>                       
                        </div> 
                        <div class="row">
                                <div class="col-lg-4 form-group">
                                    <label class="control-label">Phone no.</label> 
                                    <input type="text" class="form-control" ng-model="cdc.Customer.data.custPhoneNo" readonly>                                    
                                </div>
                                <div class="col-lg-4 form-group">
                                    <label class="control-label">Email</label> 
                                    <input type="text" class="form-control" ng-model="cdc.Customer.data.custEmail" readonly>                                    
                                </div>     
                                <div class="col-lg-4 form-group">
                                    <label class="control-label">Website</label> 
                                    <input type="text" class="form-control" ng-model="cdc.Customer.data.custWebsite" readonly>                                    
                                </div>                       
                        </div>                                                               
                    </div>
                    <!-- /.panel-body -->
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-lg-2 col-lg-offset-10 text-right">
                                <a href="#/customers/list" class="btn btn-default">Back</a>
                            </div>
                        </div>
                    </div><!-- /.panel-footer -->
                </div>

            </div>
            

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->